<div class="container">
  <div class="left-panel">
    <img
      class="background-image"
      src="../../../assets/furadeira.jpg"
      alt="Background Image"
    />
    <div class="overlay"></div>
    <div class="overlay-text">
      Com o <span class="highlight-text">Fideliza Agro</span>, suas compras
      valem <span class="highlight-bold">benefícios exclusivos</span>!
    </div>
  </div>
  <div class="right-panel">
    <form class="login-panel" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="logo">Fideliza Agro</div>
      <div class="topForgotPassword">
        <div class="title">Esqueci a senha</div>
        <button type="button" class="btn-back" (click)="goBackToForgotPassword()">
          <ion-icon name="arrow-back-outline"></ion-icon> Voltar
        </button>
      </div>
      <div class="input-group">
        <label for="new-password">Nova Senha</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="new-password"
          formControlName="newPassword"
          placeholder="Senha"
          required
        />
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirme a Senha</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="confirm-password"
          formControlName="confirmPassword"
          placeholder="Digite a senha novamente"
          required
        />
      </div>      
      <button type="submit" class="btn-login">Redefinir senha</button>
    </form>
  </div>
</div>
