<div class="container">
  <div class="left-panel">
    <img
      class="background-image"
      src="../../../assets/furadeira.jpg"
      alt="Background Image"
    />
    <div class="overlay"></div>
    <div class="overlay-text">
      Com o <span class="highlight-text">Fideliza Agro</span>, suas compras
      valem <span class="highlight-bold">benefícios exclusivos</span>!
    </div>
  </div>
  <div class="right-panel">
    <form class="login-panel" [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordResetLink()">
      <div class="logo">Fideliza Agro</div>
      <div class="topForgotPassword">
        <div class="title">Esqueci a senha</div>
        <button type="button" class="btn-back" (click)="goBackToLogin()">
          <ion-icon name="arrow-back-outline"></ion-icon> Voltar
        </button>
      </div>
      <div class="input-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Digite seu e-mail"
          autocomplete="email"
          required
        />
      </div>      
      <button type="submit" class="btn-login" (click)="navigateToResetPassword()">
        Enviar redefinição de senha
      </button>
    </form>
  </div>
</div>
