.ion-page {
  background-color: var(--ion-color-light-grey);
  color: var(--ion-color-primary);
}

.logged-in-expanded {
  margin-left: 270px;
}

.logged-in-minimized {
  margin-left: 5em;
}
